body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background: url("../images/price-is-right.png") no-repeat;
  background-size: cover;
}

.right-side {
  display: flex;
  height: 90%;
  background-color: #407be2;
  width: 30%;
  border-radius: 3px;
  border: 1px solid white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: Mukta;
  user-select: none;
  cursor: default;
}

.instructions {
  padding: 20px;
}

.footer-li {
  text-decoration: none !important;
  color: white;
}
.highscores {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 30px;
  height: auto;
}
.highscores-title {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.highscore-list-item {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  user-select: none;
  cursor: default;
  list-style: none;
}

.my-name {
  margin-left: 10px;
}

.footer-wrap:hover {
  background-color: #4182f5;
  border-radius: 3px;
}
