body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background: url("../images/price-is-right.png") no-repeat;
  background-size: cover;
}

.right-side {
  display: flex;
  height: 90%;
  background-color: #407be2;
  width: 30%;
  border-radius: 3px;
  border: 1px solid white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: Mukta;
  user-select: none;
  cursor: default;
}

.instructions {
  padding: 20px;
}

.footer-li {
  text-decoration: none;
  color: white;
}
.highscores {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.highscores-title {
  font-size: 25px;
}

.highscore-list-item {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  user-select: none;
  cursor: default;
  list-style: none;
}
